//VARIABLES DE COLOR >>> TODO:DAY MODE

$background-fondo: #353535;
$font-color: #fff;
$color-elements: #00bdff;
$color-extra: #00ff24;
$bordes-section: 1px solid #fff;
$bordes-section-inverse: 1px solid #353535;
$font-color-inverse: #353535;
$label-color: #272822;

/*$background-fondo
$font-color
$color-elements
$color-extra
$bordes-section
$font-color-inverse
*/



