#check{
    display: none;
}
#divcheck{
    display: none;
}




//MODO RESPONSIVE CSSDAY

@media (max-width:400px){

    header{
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        background: $background-fondo;
        z-index: 5;
    }

    #divcheck{
        width: 30px;
        height: 30px;
        display: flex;
        padding-top: 14px;
        flex-direction: column;
        flex-flow: row wrap;
        justify-content: flex-end;
    }

    .barResp1{
        border-radius: 5px;
        width: 30px;
        height: 3px;
        background: $font-color;
    }
    
    .barResp2{
        border-radius: 5px;
        position: relative;
        
        width: 20px;
        height: 3px;
        background: $font-color;
    
    }

    #check:checked ~ div .menuresponsive {
        left: 0px;
    }

    #check:checked ~ .cont-derecha {
        height: 100%;
    }

    

    #check:checked ~ label .barResp1{
        transform: rotate(45deg) translate(5px,0);
        
    }
    #check:checked ~ label .barResp2{
        transform: rotate(-45deg) translate(5px,0);
        width: 30px;
        
    }

    .menu-desktop{
        display: none;
    }

    .menuresponsive{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        left: -350px;
        align-items: center;
        transition: all 1s cubic-bezier(0.99, 0.46, 0.42, 1.37);
        //margin: auto;

        .title-res{
            
            position: relative;
            margin-top: 100px;
            font-size: 40px;
            text-align: center;
            color: $font-color;
           
        }
        
        .modo-elegido-resp{
            font-size: 25px;
            margin: 3px 0;
            color: $background-fondo;
            padding: 10px 25px;
            background-color: $color-elements;
            border-radius: 30px;
            text-align: center;
        }
        button{
            cursor: pointer;
            width: 100%;
            max-width: 250px;
            background: none;
            border: 3px solid $color-elements;
            border-radius: 5px;
            padding: 5px 20px;
            margin: 10px 0;
            color: $color-elements;
            font-size: 25px;
        }
    }

    .cont-derecha {
        position: fixed;
        width: 100%;
        height: 0px;
        background-color: $background-fondo;
        
        top: 57px;
        left: 0;
        text-align: left;
        transition: all 1s ease-in-out;
        z-index: 4;
    }


    
    //ESTILO ENCABEZADO
    .encabezado{
        position: relative;
        width: 100%;
        height: 55vh;
        background-image: url(../images/bg-day.png);
        background-position:center center;
        justify-content: center;
        align-items: center;
        top: 70px;
    }

    .cont-encabezado{
    
        width: 90%;
        h1{
            font-size: 40px;
            text-align: center;
            font-weight: bolder;
            color: $font-color;
        }
        p{
            margin-top: 10px;
            font-size: 25px;
            text-align: center;
            color: $color-elements;
        }
    }

    .cont-form {
        form{
            margin: 0 10px;
        }
    }

    .textarea{
        width:100%;
    }
    
}