//VARIABLES DE COLOR >>> TODO:DAY MODE

$background-fondo: #fff;
$font-color: #353535;
$color-elements: #5000ff;
$color-extra: #00ff24;
$bordes-section: 1px solid #353535;
$bordes-section-inverse: 1px solid #fff;
$font-color-inverse: #fff;

$label-color: #fff;
/*$background-fondo
$font-color
$color-elements
$color-extra
$bordes-section
$font-color-inverse
*/



